d-sm-blockd-sm-block {
    padding-top: 20px;
}
.container-fluid footer-row{
    background-color: black;
    color: white;
}

.helveticaFont{
    font-family: 'Helvetica Neue', sans-serif;
    color:white!important;
    font-size:14px;
}

.nav-link helveticaFont {
    color: white!important;
}
NavLink{
    color: white!important;
}