@using System.Web

<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<style>
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    nav {
        flex: 1;
        text-align: right;
    }

        nav ul {
            display: inline-block;
            list-style-type: none;
        }

            nav ul li {
                display: inline-block;
                margin-right: 20px;
            }

    a {
        text-decoration: none;
        color: #555;
    }

    #menuitems li:hover {
        background: #d4aeae;
        border-radius: 5px;
        cursor: pointer;
        text-decoration:none;
    }

        #menuitems li:hover a {
            text-decoration: none; 
        }
</style>

<div class="top-row navigation-row">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="Index.html"><img src="../img/logo.jpeg" alt="logo" width="125px"></a>
                </div>
                <nav>
                    <ul id="menuitems">
                        <li><a href="Index.html">Home</a></li>
                        <li><a href="Products.html">Products</a></li>
                        <li><a href="About.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="Account.html">Account</a></li>
                    </ul>
                </nav>
                <a href="Cart.html"><i class="fa fa-shopping-cart" style="font-size:23px;color:red"></i></a>
                <img src="../img/menu-3.png" class="menu-icon" @onclick="ToggleNavMenu">
            </div>
        </div>
        
      

    </div>
 </div>


 @code {

     public bool isCollapsed { get; set; } = true;

     protected override async Task OnInitializedAsync()
     {
         await base.OnInitializedAsync();
     }

     private  void ToggleNavMenu()
     {
        isCollapsed = !isCollapsed;
     }
 }
