d-sm-blockd-sm-block[b-3n7qi6r7rs] {
    padding-top: 20px;
}
.container-fluid footer-row[b-3n7qi6r7rs]{
    background-color: black;
    color: white;
}

.helveticaFont[b-3n7qi6r7rs]{
    font-family: 'Helvetica Neue', sans-serif;
    color:white!important;
    font-size:14px;
}

.nav-link helveticaFont[b-3n7qi6r7rs] {
    color: white!important;
}
NavLink[b-3n7qi6r7rs]{
    color: white!important;
}